<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">

    <!--  Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">

    <!-- Relative link to CSS. See http://stackoverflow.com/a/8304028/654296 -->
    <!-- <link rel="stylesheet" type="text/css" href="{{page.root}}/css/main.css" /> -->

</head>
